{% load static %}
{% load diary %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block meta_title %}Diary{% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'materialize/css/materialize.min.css' %}" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'diary/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <meta name="description" content="{% block meta_description %}UTProjectSprint dialy_project{% endblock %}">
</head>


<body>
<header>
  <nav>
  	<div class="nav-wrapper white">
  		<div class="row">
  			<div class="col s12 z-depth-1 fixednav">
  				<a href="#" data-target="sidenav-2" class="left sidenav-trigger show-on-medium-and-up maincolor"><i class="material-icons">menu</i></a>
  			  <a href="#!" class="brand-logo center maincolor"><i class="material-icons maincolor">book</i>Diary</a>
          <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li><a class="maincolor" href="{% url 'diary:post' %}">Create new post</a></li>
            {% else %}
            <li><a class="waves-effect waves-light btn" href="{% url 'diary:signup' %}">Sign up</a></li>
            <li><a class="waves-effect waves-light btn" href="{% url 'diary:login' %}">Log in</a></li>
            {% endif %}
          </ul>
  			</div>
  		</div>
		</div>
  </nav>
</header>

<!--デスクトップ用-->
<ul id="sidenav-2" class="sidenav">
    <li><div class="user-view">
      <div class="background backcolor">
      </div>
      <a href="{% url 'diary:user_detail' %}"><i class="material-icons maincolor">person</i></a>
      <a href="{% url 'diary:user_detail' %}"><span class="white-text name maincolor">{{ user.username }}</span></a>
      <a href="{% url 'diary:user_detail' %}"><span class="white-text email maincolor">{{ user.email }}</span></a>
    </div></li>

    {% render_search_form request %}

    <li><div class="divider"></div></li>

    <li><a class="subheader">Menu</a></li>
      <li><a href="{% url 'diary:diary' %}">MyDiary</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Category<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="{% url 'diary:recommend' %}">Recommend</a></li>
      <li><a href="{% url 'diary:logout' %}">Log out</a></li>
  </ul>
<ul id="dropdown1" class="dropdown-content">
  {% render_category_links %}
</ul>

{% for field, errors in form.errors.items %}
    <article class="message is-warning">
        <div class="message-body">
        {% for error in errors %}
            <p><strong>{{ error }}</strong></p>
        {% endfor %}
        </div>
    </article>
{% endfor %}

<div class="fixed-action-btn hide-on-large-only">
  <a class="btn-floating btn-large" href="{% url 'diary:post' %}">
    <i class="large material-icons btncolor">mode_edit</i>
  </a>
</div>


<main>
  {% block content %}{% endblock %}
</main>

<footer class="page-footer white">
  <div class="footer-copyright">
    <div class="container center grey-text text-darken-2">
    Made by <a class="maincolor" >tm-017</a>
    </div>
  </div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
<script src="{% static 'materialize/js/init.js' %}"></script>
<script src="{% static 'diary/script.js' %}"></script>
</body>
</html>
