{% extends 'diary/simple_base.html' %}

{% block title %}Signup | {% endblock %}

{% block content %}
<br><br>
<section class="section">
    <div class="card logcard">
      <div class="container">
        <span class="login100-form-title p-t-50 p-b-51">Sign up</span>
          <br>
          <form method="post" action="">
              {% csrf_token %}
              <div class="field">
                  <label class="label">Username</label>
                  <div class="control has-icons-left">
                      {{ form.username }}
                      <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                  </div>
              </div>
              <div class="field">
                  <label class="label">e-mail</label>
                  <div class="control has-icons-left">
                      {{ form.email }}
                      <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                  </div>
              </div>
              <div class="field">
                  <label class="label">Password</label>
                  <div class="control has-icons-left">
                      {{ form.password1 }}
                      <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                  </div>
              </div>
              <div class="field">
                  <label class="label">Retype Password</label>
                  <div class="control has-icons-left">
                      {{ form.password2 }}
                      <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                  </div>
              </div>
              <div class="field center p-t-50">
                  <p class="control">
                      <input type="submit" value="SIGN UP" class="button is-success waves-effect waves-teal btn-flat btncolor">
                      <input type="hidden" name="next" value="{{ next }}" >
                  </p>
              </div>
              <p class="help center p-b-51"><a href="{% url 'diary:login' %}">Login</a></p>
          </form>
      </div>
    </div>
</section>
{% endblock %}
